.sour-gummy{
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;

    font-variation-settings:
        "wdth" 100;
    }
body { margin: 0; }

.rotation-button > img{
    /* background-image: url(./The_Globe_Media/Globe_Spin.png); */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 0);
    position: absolute;
    top: 5px;
    right: 5px;
    width: 5vh;
    height: 5vh;
    z-index: 50;
    border-radius: 30%;
    box-shadow: 0px 0px 10px black;
}



.two_D-button > img{
    /* background-image: url(./The_Globe_Media/Globe_Spin.png); */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 0);
    position: absolute;
    top: 5px;
    left: 5px;
    width: 5vh;
    height: 5vh;
    z-index: 50;
    border-radius: 30%;
    box-shadow: 0px 0px 10px black;
}

#canvas{
    display: none;
}
.start-button-container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 99;
}
.start-button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 200px;
    z-index: 100;
    background-color: rgba(0, 29, 109, 1);
    border-radius: 50%;
}
.arush-start-button-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 200px;
    z-index: 101;
    /* border: 1px solid white; */
}
.arush-start-button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 200px;
    z-index: 101;
    /* border: 1px solid white; */
}
.start-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 200px;
    /* border: 1px solid white; */
}
.pop-up-position{
    display: none; 
    position: absolute;
    z-index: 50;
    width: 100vw;
    height: 100vh; 
    margin: 0px;
    padding: 0px;
}
.pop-up-container{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.171);
}
.pop-up{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 50%;
    max-width: 500px;
    min-width: 300px;
    gap: 2%;
    background-color: rgba(0, 0, 0, 0.534);
}
.item{
    border:2px solid yellow;
    padding: 1px;
}
.heading{
    flex: 1;
    background-color: rgba(0, 0, 0, 0.534);
    display: flex;
    color: rgb(255, 238, 7);
    justify-content: center;
    font-size: xx-large;
    font-weight: 700;
}

.website-two-container{
    z-index: 20;
    position: absolute;
    color: white;
    background-color: black;
}

.image{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
}
.the-image{
    height: 100%;
    width: 50%;
    object-fit: cover;

}
.content{
    flex: 3;
    background-color: rgba(0, 0, 0, 0.534);
    overflow-y: auto;
    color: aliceblue;
    font-size: larger;
    padding: 2%;
    min-height: 30px;
}
.last{
    flex: 1;
    background-color: rgba(0, 0, 0, 0.534);
    display: flex;
    flex-direction: row;
}
.link{
    width: 50%;
    height: 100%;
    
    display: flex;
    justify-content: center;

}
.the-link{
    color: rgb(255, 238, 7);
    font-size: large;
}
.exit{
    width: 50%;
    height: 100%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
}
.exit-button{
    width: 50%;
    border-radius: 5%;
    background-color: yellow;
}
b,a{
    color: rgb(255, 238, 7);
}
.footer-container{
    position: absolute;
    bottom: 5px;
    /* right: 0.5vw;
    width: 99vw;
    left: 0.5vw; */
    width: 100vw;
    height: 10vh;
    z-index: 50;
}
.footer-position{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.footer{
    width: 50%;
    min-width: 300px;
    height: 100%;
    gap: 2%;
    display: flex;
    flex-direction: row;
}
.item_dash{
    flex: 1;
    aspect-ratio: 1 / 1;   /* square */
    /* border: 1px solid white; */

    display: flex;
    justify-content: center;
    align-items: center;
}
.item_dash img {
    width: 70%;
    height: 70%;
    object-fit: contain;
    display: block;
}
.item_dash a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center ;
}
.logo{
    opacity: 0;
    transform: scale(0);
    
}
.loading-background{
    position: absolute;
    z-index: 102;
    width: 99.9vw;
    height: 99.9vh;
    background-color: black;
}
.loading-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 250px;
    height: 250px;
    z-index: 102;
    border: 1px solid white;
    border-radius: 50%;
    
}
.sun{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.earth{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%) rotate(0deg);
    width: 220px;
    height: 220px;
    transition: transform 2s ease-in-out;
    /* border: 1px solid white; */
}
.sun img{
    width: 70px;
    height: 70px;
    top: 0px;
    right: 0px;
}
.earth img{
    width: 40px;
    height: 40px;
    /* border: 1px solid white; */
}
        